$logger.info("Getting document .......")
#set($doc =  $helper.executeGet("http://data.vietstock.vn/ket-qua-giao-dich/th_hsx.aspx","DOM"))
$logger.info("Get document completed")
#set($list =  $helper.selectNodes("//table[contains(@class,'list-stock')]",$doc))
#set($tran_date = $helper.selectNode("//input[@type='text' and contains(@class,'datepicker')]/@value",$doc))
=========================================================================
| tran_date :${tran_date.nodeValue.trim()}								|
=========================================================================
#foreach( $node in $list )
#if($velocityCount==3)
$logger.info("Parse  transaction at index 3")
#set($t = $helper.selectNode("tbody/tr/td[@colspan='2']/text()",$node)) 
=========================================================================
|${t.nodeValue.trim()}											|
=========================================================================
#set($trList = $helper.selectNodes("tbody/tr[count(td)=2]",$node))
#foreach( $tr in $trList )
#set($td1 = $helper.selectNode("td[1]/text()",$tr))
#set($td2 = $helper.selectNode("td[2]/text()",$tr))
|			${td1.nodeValue.trim()}		|		 ${td2.nodeValue.trim()}			|
=========================================================================
#set( $val =  $td2.nodeValue.trim())
#set ($val =  $val.replace(",",""))
#set( $msg = "Insert to db ['${td1.nodeValue.trim()}','$td2.nodeValue.trim()']")
$logger.info($msg)
#set( $val =  $helper.getLong($val))
#set( $rs = $helper.update($dataSource,"INSERT INTO top_stock(stock_code,val,tran_date)  VALUES(?,?,?) ON DUPLICATE KEY UPDATE val=?",[],[$td1.nodeValue.trim(),$val,$tran_date.nodeValue.trim(),$val]))
##get stock details
#set($s =  $helper.executeGet("http://finance.vietstock.vn/AjaxData/TradingResult/GetStockData.ashx?scode=${td1.nodeValue.trim()}","JSON"))
#set($stock = $s.get(0))
#set($OpenPrice = $stock.get("OpenPrice"))
|OpenPrice: $OpenPrice													|
=========================================================================
#set($Highest = $stock.get("Highest"))
|Highest: $Highest														|
=========================================================================
#set($Lowest = $stock.get("Lowest"))
|Lowest: $Lowest														|
=========================================================================
#set($TradingVolume = $stock.get("TradingVolume"))
|TradingVolume: $TradingVolume											|
=========================================================================
#set($CapitalLevel = $stock.get("CapitalLevel"))
|CapitalLevel: $CapitalLevel											|
=========================================================================
#set($PE = $stock.get("PE"))
|PE: $PE																|
=========================================================================
#set($Dividend = $stock.get("Dividend"))
|Dividend: $Dividend													|
=========================================================================
#set($YearHigh = $stock.get("YearHigh"))
|YearHigh: $YearHigh													|
=========================================================================
#set($FwPE = $stock.get("FwPE"))
|FwPE: $FwPE															|
=========================================================================
#set($Yield = $stock.get("Yield"))
|Yield: $Yield															|
=========================================================================
#set($YearLow = $stock.get("YearLow"))
|YearLow: $YearLow														|
=========================================================================
#set($Beta = $stock.get("Beta"))
|Beta: $Beta															|
=========================================================================
#set($AvgVol = $stock.get("AvgVol"))
|AvgVol: $AvgVol														|
=========================================================================
#set($EPS = $stock.get("EPS"))
|EPS: $EPS																|
=========================================================================
#set($ForeignRoom = $stock.get("ForeignRoom"))
|ForeignRoom: $ForeignRoom												|
=========================================================================
#set($ForeignBuyVolume = $stock.get("ForeignBuyVolume"))
|ForeignBuyVolume: $ForeignBuyVolume									|
=========================================================================
#set($PB = $stock.get("PB"))
|PB: $PB																|
=========================================================================
#set($BVPS = $stock.get("BVPS"))
|BVPS: $BVPS															|
=========================================================================
#set($BVPS = $stock.get("BVPS"))
|BVPS: $BVPS															|
=========================================================================
#set($BuyRedundancy = $stock.get("BuyRedundancy"))
|BuyRedundancy: $BuyRedundancy											|
=========================================================================
#set($SellRedundancy = $stock.get("SellRedundancy"))
|SellRedundancy: $SellRedundancy										|
=========================================================================
#set($ClosePrice = $stock.get("ClosePrice"))
|ClosePrice: $ClosePrice												|
=========================================================================
#set($CloseDateView = $stock.get("CloseDateView"))
|CloseDateView: $CloseDateView											|
=========================================================================
#set($ClosePrice = $stock.get("ClosePrice"))
|ClosePrice: $ClosePrice												|
========================================================================= 
#set($ClosePrice = $helper.getInteger($ClosePrice))
#set($OpenPrice = $helper.getInteger($OpenPrice))
#set($Highest = $helper.getInteger($Highest))
#set($Lowest = $helper.getInteger($Lowest))
#set($TradingVolume = $helper.getLong($TradingVolume))
#set($CapitalLevel = $helper.getLong($CapitalLevel))
#set($BuyRedundancy = $helper.getLong($BuyRedundancy)) 
#set($SellRedundancy = $helper.getLong($SellRedundancy))
#set($YearHigh = $helper.getLong($YearHigh))
#set($YearLow = $helper.getLong($YearLow))
#set($AvgVol = $helper.getLong($AvgVol))
#set($ForeignBuyVolume = $helper.getLong($ForeignBuyVolume))
#set($ForeignRoom = $helper.getFloat($ForeignRoom))
#set($Dividend = $helper.getLong($Dividend))
#set($Yield = $helper.getFloat($Yield))
#set($Beta = $helper.getFloat($Beta))
#set($EPS = $helper.getLong($EPS))
#set($PE = $helper.getFloat($PE))
#set($FwPE = $helper.getFloat($FwPE))
#set($BVPS = $helper.getFloat($BVPS))
#set($PB = $helper.getFloat($PB))
#set($params = [$td1.nodeValue.trim(),$ClosePrice,$OpenPrice,$Highest,$Lowest,$TradingVolume,$CapitalLevel,$BuyRedundancy,$SellRedundancy,$YearHigh,$YearLow,$AvgVol,$ForeignBuyVolume,$ForeignRoom,$Dividend,$Yield,$Beta,$EPS,$PE,$FwPE,$BVPS,$PB,$CloseDateView,$ClosePrice,$OpenPrice,$Highest,$Lowest,$TradingVolume,$CapitalLevel,$BuyRedundancy,$SellRedundancy,$YearHigh,$YearLow,$AvgVol,$ForeignBuyVolume,$ForeignRoom,$Dividend,$Yield,$Beta,$EPS,$PE,$FwPE,$BVPS,$PB])
#set( $rs = $helper.update($dataSource,"INSERT INTO best_stock(top_stock,close_price,open_price, cel_price, flo_price, vol, fund, odd_buy, odd_sell, cel_price_52W, flo_price_52W, vol_52W, foreign_buy, foreign_percent, common_dividend, common_dividend_percent, beta, eps, pe, fpe, bvps, pb, tran_date) VALUES (?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?)  ON DUPLICATE KEY UPDATE close_price=?,open_price=?, cel_price=?, flo_price=?, vol=?, fund=?, odd_buy=?, odd_sell=?, cel_price_52W=?, flo_price_52W=?, vol_52W=?, foreign_buy=?, foreign_percent=?, common_dividend=?, common_dividend_percent=?, beta=?, eps=?, pe=?, fpe=?, bvps=?, pb=?",[],$params))
#end
#end
#end